.sidebar{
        top: 0;
        left: 0;
        width: 250px;
        height: 100vh;
        display: flex;
        justify-content: center;
        position: sticky;
        background-image: linear-gradient(#015C92, #2D83B5, #89CCF6);
}